body {
    background-color: #0e9d57;
}

.posts-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-content {
	background: #e2e8d5;
	display: flex;
	flex-direction: column;
	padding: 3%;
	margin: 0 2%;
}

.post-head {
    height: 126px;
	text-align: center;
	display: flex;
	align-items: center;
}

.post-image {
    width: 100px;
	height: 100px;
}